:root {
  --clr-bg: #fff;
  --clr-txt: rgb(26, 30, 35);
  --clr-bdr: rgb(232, 234, 238);
  --clr-comp: #fff;
  --clr-comp-hover: rgb(237, 243, 248);
  --clr-p: #333;

  --accent-base-h: 260;
  --accent-base-s: 100%;
  --accent-base-l: 73%;
  --clr-accent: hsl(var(--accent-base-h), var(--accent-base-s), var(--accent-base-l));
  /* 2 lighter shades of accent  */
  --clr-accent-l1: hsl(var(--accent-base-h), var(--accent-base-s), calc(var(--accent-base-l) + 5%));
  --clr-accent-l2: hsl(var(--accent-base-h), var(--accent-base-s), calc(var(--accent-base-l) + 10%));

  --shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  --tooltip-bg: #333;
  --tooltip-txt: #fff;

  --space-bg-clr: rgb(39, 39, 72);
}

body.dark {
  --clr-bg: rgb(13, 17, 23);
  --clr-txt: rgb(240, 246, 252);
  --clr-bdr: #3d444d;
  --clr-comp: rgb(33, 40, 48);
  --clr-comp-hover: rgb(58, 65, 72);
  --clr-p: #e3e4ff;

  --tooltip-bg: #efefef;
  --tooltip-txt: #333;

}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--clr-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 10px;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  font-family: "Space Grotesk", serif;
  font-weight: 500;
  font-style: normal;

  padding-bottom: 3rem;
}


button {
  color: inherit;
}

svg {
  fill: currentColor;
}

body {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%23000" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>') 4 0, auto;
}

a {
  color: var(--clr-accent);
  text-decoration: none;
}

p {
  color: var(--clr-p);
}

.section {
  padding: 24px;
  max-width: 1024px;
  margin: auto;
}